body{font-family:Arial;background:#fff3f6;padding:20px;}
nav a{margin-right:10px;}
.products{display:flex;gap:15px;flex-wrap:wrap;}
.item{border:1px solid pink;padding:10px;width:150px;background:white;}
.item img{width:150px;height:150px;}
.dark{background:#222;color:white;}